img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
table{
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    background-color: rgb(255, 255, 255);
}
td{
    width: auto;
    border: 1px solid black;
    vertical-align: top;
}
.title {
    text-decoration: underline;
    font-size: 20px;
    font-weight: bold;
}
p{
    margin: 20px;
    text-align: top;
}
.acteurs {
    text-align: center;
    font-size: 25px;
    
}
.acteurs_list {
    text-align: center;
    font-size: 13px;
}
