img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
table{

    display: block;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    background-color: white;
}
td{
    border: 1px solid black;
    width: 33%;
    text-align: center;
}
.title {
    text-decoration: underline;
    font-size: 20px;
}
p{
    margin: 20px;
}
