
.col1 {
    width: 20%;
    
    
}

.col2 {
    width: 20%;
}

.col3 {
    height: 60px;
    width: 60%;
}

th{
    border: 1px solid black;
}

table{
    margin-left: 35%;
    margin-right: 25%;
    width: 30%;
    border-spacing: 0px;
    background-color: white;
}

body{
    background: url("2690580.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.date{
    text-align: center;
    
}